@media screen and (min-width: 1921px) {
    nav{
    	display: flex;
    	width: 80%;
    	margin: 0 auto;
    }

    .nav-bar{
    	align-self: center;
    }

    .logo{
    	width: 120px;
    	align-self: center;
    }

    .menu-bar{
		display: none;
	}

	.nav-bar{
		display: flex;
		justify-content: space-around;
		min-width: 700px;
		max-width: 700px;
		margin-left: auto;
	}

    .hero-wrapper{
        max-width: 1440px;
        width: 90%;
        align-self: center;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .hero-text{
        width: 40%;
    }

    #hero-image{
        width: 50%;
    }

    /*=============== About Page ===============================*/
    .about-page{
        max-width: 1440px;
        width: 90%;
        align-self: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        position: relative;

    }

    .about-page img{
        width: 50%;
    }
    
    .about-text{
        width: 45%;
        align-self: flex-start;
        font-size: 1.6em;
    }

}