@media screen and (max-width: 400px) {
    nav{
    	width: 90%;
    	display: flex;
    	margin: 0 auto;
    	position: absolute;
    	align-self: center;
    }
    .nav-bar{
    	display: none;
    }
	
	.logo{
		align-self: center;
	}
	.menu-bar{
		width: 40px;
		cursor: pointer;
		margin-left: auto;
	}
	.icon-bar{
		height: 4px;
		margin: 6px auto;
		background-color: #000;
		border-radius: 3px;
	}

	.hero-wrapper{
		max-width: 1440px;
		width: 90%;
		align-self: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		position: relative;
	}
	.send-brief{
		position: absolute;
		bottom: -75px;
		left: 24%;
	}
	.hero-text{
		width: 80%;
	}

	#hero-image{
		width: 80%;
	}

	/*=============== About Page ===============================*/
	.about-page{
		max-width: 1440px;
		width: 90%;
		align-self: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		position: relative;
	}

	.about-page img{
        width: 50%;
    }
    
    .about-text{
        width: 40%;
    }
}