@media screen and (max-width: 400px) {
    nav{
    	width: 90%;
    	display: flex;
    	margin: 0 auto;
    	position: absolute;
    	align-self: center;
    }
    .nav-bar{
    	display: none;
    }
	
	.logo{
		align-self: center;
	}
	.menu-bar{
		width: 40px;
		cursor: pointer;
		margin-left: auto;
	}
	.icon-bar{
		height: 4px;
		margin: 6px auto;
		background-color: #000;
		border-radius: 3px;
	}
}