@media screen and (max-width: 400px) {
    nav{
    	width: 90%;
    	display: flex;
    	margin: 0 auto;
    	position: absolute;
    	align-self: center;
    }
    .nav-bar{
    	display: none;
    }
	
	.logo{
		align-self: center;
	}
	.menu-bar{
		width: 40px;
		cursor: pointer;
		margin-left: auto;
	}
	.icon-bar{
		height: 4px;
		margin: 6px auto;
		background-color: #000;
		border-radius: 3px;
	}

	.hero-wrapper{
		max-width: 1440px;
		width: 90%;
		align-self: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		position: relative;
	}
	.send-brief{
		position: absolute;
		bottom: -75px;
		left: 24%;
	}
	.hero-text{
		width: 80%;
	}

	#hero-image{
		width: 80%;
	}
	
	.guide-btn{
		display: none;
	}
	/*=============== About Page ===============================*/
	.about-page{
		max-width: 1440px;
		width: 90%;
		display: flex;
		align-self: center;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		position: relative;
	}

	.about-page img{
        width: 90%;
    }
    .about-page h1{
    	text-align: center;
	    position: absolute;
	    top: 100px;
	    right: 45px;
    }
    .about-text{
        width: 90%;
        font-size: 1.1em;
        font-family: 'Muli', sans-serif;
    }
    .founder p{
        width: 80%;
        float: left;
        font-size: 0.8em;
        font-style: italic;
        color: #1abc9c;
        position: relative;
    }
    .founder p span{
        position: relative;
        top: 0px;
        right: 47px;
        display: block;
        text-align: right;
        color: #7d7a7a;
        font-style: normal;
        font-weight: 600;
        font-size: 0.8em;
    }
    .founder img{
        width: 25%;
        position: absolute;
        right: 5px;
        top: 10%;
    }

    

    .work-page{
    	width: 90%;
    	display: flex;
    	align-self: center;
    	flex-direction: column;
    	margin: 0;
    	padding: 0
    }

    .work-page li{
    	width: 90%;
    	padding: 0;
    	margin: 10px 0;
    	border-radius: 15px;
    	overflow: hidden;
    }

    .work-page li img{
    	width: 100%;
    	height: 100%;
    }
    .work-detail{
    	display: none;
    }

/*================= Services ================================*/

.service{
        width: 90%;
        align-self: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .service-type{
        display: flex;
        flex-direction: column;
        font-size: 1.2em;
        font-family: 'Muli', sans-serif;
    }
    .service-type li{
        font-size: 1.1em;
    }
    .service-type li h1{
        text-align: center;
        color: #1abc9c;
    }
    .service-type li p{
        text-align: justify;
    }
    .service-type li img{
        width: 50%;
        height: 50%;
        max-height: 50%;
        max-width: 50%;
        border-radius: 25px;
    }
    
    .service-icon {
        display: flex;
        justify-content: center;
    }



















}