@media screen and (min-width: 401px) and (max-width: 720px) {
    nav{
    	width: 90%;
    	display: flex;
    	margin: 0 auto;
    	position: absolute;
    	align-self: center;
    }
    .nav-bar{
    	display: none;
    }
	.logo{
		align-self: center;
	}
	.menu-bar{
		width: 40px;
		cursor: pointer;
		margin-left: auto;
	}
	.icon-bar{
		height: 4px;
		margin: 6px auto;
		background-color: #000;
		border-radius: 3px;
	}

	.show-menu-bar{
		display: flex;
	    flex-direction: column;
	    position: relative;
	    top: 27px;
	    border: 1px solid;
	    align-items: center;
	}
	.show-menu-bar li{
		width: 80%;
		align-self: center;
	}
	/*##################  Home Page ##################################*/
	.page{
		height: 100vh;
		width: 100vw;
	}
	.page.home{
		background-color: #32ebc4;
	    z-index: -1;
	    margin: 0;
	    padding: 0;
	}

	.hero-wrapper{
		max-width: 1440px;
		width: 90%;
		align-self: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		position: relative;
	}
	.send-brief{
		position: absolute;
		bottom: -75px;
		left: 34%;
	}
	.hero-text{
		width: 80%;
	}

	#hero-image{
		width: 80%;
	}
	
	.guide-btn{
		display: none;
	}
	/*=============== About Page ===============================*/
	.page.about{
		background-color: 
	}
	.about-page{
		max-width: 1440px;
		width: 90%;
		align-self: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		position: relative;
	}

	.about-page img{
        width: 80%;
    }
    
    .about-text{
        width: 80%;
        text-align: justify;
        font-size: 1.2em;
		font-family: 'Muli', sans-serif;
		font-size: 1.2em;
    }
    .founder img{
		width: 25%;
		position: absolute;
		right: 5px;
		top: -17px;
	}


	.founder p{
        width: 80%;
        float: left;
        font-size: 0.8em;
        font-style: italic;
        color: #1abc9c;
        position: relative;
    }
    .founder p span{
        position: relative;
        top: 27px;
        right: 47px;
        display: block;
        text-align: right;
        color: #7d7a7a;
        font-style: normal;
        font-weight: 600;
        font-size: 0.8em;
    }
    .founder img{
        width: 25%;
        position: absolute;
        right: 5px;
        top: 10%;
    }

    .work-page{
    	width: 100%;
    	display: flex;
    	align-self: center;
    	flex-direction: column;
    	margin: 0;
    	padding: 0
    }

    .work-page li{
       flex: 0 50%;
        padding: 0;
        margin: -3px 0;
        position: relative;
        overflow: hidden;
    }

    .work-page li img{
        width: 100%;
        transition: 2s;
    }
    .work-page li:hover img{
        transform: scale(1.2);
    }
    .work-detail{
        opacity: 0;
        background-color: rgba(39, 41, 39, 0.92);
        transition: 2s;
        z-index: 3;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        color: #fff;
        height: 100%;
        width: 100%;
        justify-content: center;
        text-align: center;

    }
    .work-detail:hover{
        opacity: 1;
        transform: scale(1.2);

}