
/*@media screen and (min-width: 1281px) and (max-width: 1440px) {
    
}*/

/* font family names */
/*font-family: 'Muli', sans-serif;
font-family: 'Cabin', sans-serif;
font-family: 'Roboto', sans-serif;*/

@import url('mq-400.css');
@import url('mq-401-to-720px.css');
@import url('mq-721-to-1280px.css');
@import url('mq-1281-to-1440px.css');
@import url('mq-1441-to-1920px.css');
@import url('mq-1921-to-up.css');


*{
	box-sizing: border-box;
}

li{
	list-style-type: none;
}

a{
	text-decoration: none;
}

body{
	font-family: 'Roboto', sans-serif;
	display: flex;
	flex-direction: column;
	padding: 0;
	margin:0; 
}
nav{
	width: 90%;
	display: flex;
	margin: 0 auto;
	position: absolute;
	align-self: center;
	top: 30px;
	max-width: 1440px;
	z-index: 1;
}
 nav a{
 	color: #f1f1f1;
 }

 nav li{
 	margin: auto;
 }
 .logo{
 	cursor: pointer;
 }
	.logo img{
		width: 235px;
	}
	.show-menu-bar{
		display: flex;
	    flex-direction: column;
	    position: fixed;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    background-color: #abe957;
	    border: 1px solid;
	    align-items: center;
	    margin: 0;
	    padding: 0;
	}
	.show-menu-bar li{
		width: 80%;
		align-self: center;
	}
	
	.close-bar{
		display: none;
	}

	.show-menu-bar .close-bar{
		display: block;
		position: absolute;
		right: 10px;
		top: 10px;
		width: 40px;
	}

	.show-menu-bar .icon-bar-close{
		height: 4px;
		width: 30px;
		margin: 6px auto;
		background-color: #000;
	}
	.icon-bar-close:nth-child(1){
		transform: rotate(45deg);
   
	}
	.icon-bar-close:nth-child(2){
		transform: rotate(-45deg);
		 position: relative;
    		top: -10px;
	}
.page{
	min-height: 100vh;
	width: 100vw;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	}

	.page.home{
		background-color: #1abc9c;
	    margin: 0;
	    padding: 0;
	    display: flex;
	}
	.page.about{
		
	/*background-color: #bdc3c7;*/
	  
	  margin: 0;
	  padding: 0;
	  display: flex;
	}

	.hero-text{
		color: #f1f1f1;
		font-family: 'Muli', sans-serif;
		font-size: 1.2em;
	}

	.send-brief{
		display: inline-block;
	  border: 1px solid #fff;
	  padding: 10px 15px;
	  border-radius: 26px;
	  width: auto;
	  text-align: center;
	  color: #fff;
	}

	.guide-btn{
		position: fixed;
		right: 10px;
		top: 25%;
		align-self: center;
		flex-direction: column;
		width: 30px;
		height: 500px;
		justify-content: space-around;
	}
	.guide-icon{
		width: 8px;
		height: 8px;
		background-color: #fff;
		align-self: center;
		border-radius: 50%;
	}
	.guide-icon.selected{
		width: 20px;
		height: 20px;
	}

	/*  About Page */
	.about-text h1{
		text-align: center;
	}
	.founder{
		position: relative;
	}


	/*========== Case Study Page ===================================*/


	.page.work{
	    background-color: rgb(26, 188, 156);
	}

	.case-study{
		text-align: center;
		margin-bottom: 30px;
		color: #fff;
	}

	.line{
		height: 4px;
		width: 30px;
		background: #000;
	}


	/*============= Contact Page =================================*/

	.page.contact{
		background-color: #1abc9c;
	    margin: 0;
	    padding: 0;
	    display: flex;
	    justify-content: space-around;
	}
	.contact-page{
		width: 95%;
		display: flex;
		flex-direction: column;
		align-items: center;
		align-self: center;
	}
	.page.contact h1{
		font-size: 2em;
		font-family: 'Muli', sans-serif;
		font-weight: 600;
		color: #ffffff;
		text-align: center;
	}
	
	.send-a-brief{
		width: 90%;
		max-width: 1440px;
	}
	.contact-page form{
		width: 625px;
		max-width: 625px;
		padding: 10px;
		align-self: center;
		display: flex;
		flex-direction: column;
		background-color: #fff;
		justify-content: space-between;
		border-radius: 24px;
		align-items: center;
	}
	.contact-page form p{
		width: 80%;
		display: flex;
		justify-content: center;
		margin: 5px;
	}
	input.contact{
		width: 98%;
		height: 40px;
		border: 0;
		border-bottom: 1.5px solid;
		color: black;
		padding: 3px 10px;
		font-size: 1.1em;
		font-family: 'Muli', sans-serif;
		outline: none; 
		transition: 2s;
		margin: 15px auto;
	}
	input.contact:focus{ 
		transform: scale(1.8);
		border-radius: 5px;
	}
	
	#textarea{
		width: 80%;
	    border-bottom: 1px solid;
	    outline: none;
	    align-self: center;
	    transition: 2s;
	    font-size: 1.2em;
	    font-family: 'Muli', sans-serif;
	    padding: 20px;
	    margin-top: 44px;
	    border-left: 0 !important;
	    margin-bottom: 25px;
	    border-right: 0 !important;
	    border: 2px solid #1abc9c;
	    border-radius: 0;
	}
	#textarea:focus{
		transform: scale(1.8);
		border-radius: 3px;

	}
	
	.send-email{
		width: 40%;
		min-width: 200px;
	    margin: 10px auto 30px auto;
	    height: 55px;
	    border-radius: 40px;
	    background-color: #E91E63;
	    border: 4px solid #E91E63;
	    color: #fff;
	    font-size: 1.2em;
	    cursor: pointer;
	    padding: 10px;
	}
	
	.message{
		display: flex;
		justify-content: center;
		align-items: center;
		align-self: center;
		position: absolute;
		top: 75px;
		width: 100%;
		background-color: #34495e;
		opacity: 0;

	}
	.message img{
		width: 200px;
	}
	.message div{
		color: #fff;
		font-size: 2.5em;
		font-family: 'Muli', sans-serif;
		
	}

	@keyframes show{
		0%{opacity: 0}
		50%{opacity: 1}
		75%{opacity: 1}
		100%{opacity: 0}
	}
	
	.send-a-brief{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.send-a-brief img{
		flex: 0 40%;
		width: 450px;
		align-self: flex-end;
	}








